body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("img_parallax_2.jpeg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("img_parallax_3.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("img_parallax_4.jpeg");
    min-height: 100%;
}

.bgimg-5 {
    background-image: url("img_parallax_5.jpeg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

    .caption span.border {
        text-shadow: 2px 2px rgb(156, 200, 240);
        padding: 18px;
        font-size: 50px;
        font-family: Georgia;
        font-weight: 1000;
        background-color: azure
    }

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: rgb(156, 200, 240)
}

ol {
    text-align: center;
    list-style-position: inside;
}

p {
    text-align: center;
}

a {
    color: black
}

whiteLink {
    color: white
}

@media only screen and (max-device-width: 1400px) {
    .bgimg-1, .bgimg-2, .bgimg-3, bgimg-4, .bgimg-5{
    background-attachment: scroll;
  }
}
